@charset "UTF-8";

@font-face {
	font-family: 'Mulish';
	src: url('/-/styles/mulish-variablefont_wght.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
	box-sizing: border-box;
	font-family: Mulish, Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 450;
	line-height: 1.25rem;
	word-wrap: anywhere;
	overflow-wrap: break-word;
	word-break: break-word;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #007acc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.1em;
    font-style: italic;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

article section {
    margin-bottom: 20px;
}

article h2 {
    color: #007acc;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
